/* Responsive section - 800px breakpoint, display size of 768px fixed */
@media only screen and (max-width: 799px) {
    /* reset container and columns for 768px size */
    html, body {
        min-width: 768px;
    }
    nav.primary {
    width: 768px;
    display: none;
    }
    #widget-header {
        right: 20px;
    }
    div#widget-header .embed-content p:after {
        content: 'test';
    }
    .sf-menu li a {
    width: 150px;
    }
    #main {
        width: 768px;
    }
    .container_12 {
        width: 768px;
    }
    .container_12 .grid_1 {
	width:44px;
    }
    .container_12 .grid_2 {
        width:108px;
    }
    .container_12 .grid_3 {
        width:172px;
    }
    .container_12 .grid_4 {
        width:236px;
    }
    .container_12 .grid_5 {
        width:300px;
    }
    .container_12 .grid_6 {
        width:364px;
    }
    .container_12 .grid_7 {
        width:428px;
    }
    .container_12 .grid_8 {
        width:492px;
    }
    .container_12 .grid_9 {
        width:556px;
    }
    .container_12 .grid_10 {
        width:620px;
    }
    .container_12 .grid_11 {
        width:684px;
    }
    .container_12 .grid_12 {
        width:748px;
    }
/* only for testing TO-BE-REMOVED */
    .container_12 .grid_12 {
        background-color: yellow;
    }
}

/* Responsive section - 480px breakpoint, display size of 480px fixed */